doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
      .header
        margin 0 auto
        max-width 600px
      a
        text-decoration none
        &:hover
          text-decoration underline

  body: .header: :markdown-it

    # [Paul Nechifor](/)

    Hi. I’m a software developer currently living in London.

    ## Projects

    You can see a listing of **[all my projects](/projects)** here on my site or
    on [GitHub][github-repos].

    Probably the most successful project of mine is [Ohmu][ohmu], a tool for
    visualising space usage in your terminal.

    I’m working on my own programming language called [LemonCake](/lemon-cake).

    I like creating my own games, but I’ve failed at finishing anything of
    significance. Some examples are: [TorusCycle][torus-cycle], [chess
    puzzles](/chess-puzzles), [1930][1930], and [Makawa][makawa].

    I’ve created Reddit bots for [correcting
    spelling](/reddit-spellchecking-bot), [generating word
    clouds](/reddit-wordcloud-bot), [summarizing long
    comments](/reddit-summarization-bot), and [detecting pairs][pair-detector].

    See my [presentations](/presentations).

    I publish my [dotfiles][dotfiles].

    ## Posts

    1. [My brain on Git](/my-brain-on-git)

    ## Hobbies

    I’m interested in [constructed scripts][conscripts]. I’ve created
    [Sidrem](/sidrem) and [Tinutok][tinutok].

    See what I consider the [best black metal albums](/best-black-metal-albums).

    See my Instagram account for [my origami creations][instagram].

    ## Contact

    My email address is `paul@nechifor.net`.

    [1930]: https://github.com/paul-nechifor/1930
    [conscripts]: http://www.omniglot.com/conscripts/english.htm
    [dotfiles]: https://github.com/paul-nechifor/dotfiles
    [github-repos]: https://github.com/paul-nechifor?tab=repositories
    [instagram]: https://www.instagram.com/paulnechifor/
    [makawa]: https://github.com/paul-nechifor/makawa
    [ohmu]: https://github.com/paul-nechifor/ohmu
    [pair-detector]: https://github.com/paul-nechifor/pair-detector
    [tinutok]: https://github.com/paul-nechifor/tinutok
    [torus-cycle]: https://github.com/paul-nechifor/torus-cycle
