doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style= css
  body
    .header
      h1: a(href='/') Paul Nechifor

      p Hi. I'm a software developer currently living in London.

      h2 Projects

      p
        | You can see a listing of <a href='#'>all my projects</a> here on my
        | site or on <a
        | href='https://github.com/paul-nechifor?tab=repositories'>GitHub</a>.

      p You can view all of my projects on <a href='https://github.com/paul-nechifor'>GitHub</a>.

      h2 Contact

      p My email address is <code>paul@nechifor.net</code>.
