doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Paul Nechifor
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Paul Nechifor’s home page and list of projects.')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
      header, .footer
        margin 0 auto
        max-width 600px
      a
        text-decoration none
        &:hover
          text-decoration underline
      .footer
        padding-top 0.5em
        small
          color #999
          a
            color #888

  body
    header: :markdown-it
      # [Paul Nechifor](/)

      Hi. I’m a software developer currently living in London.

      ## Projects

      You can see a listing of **[all my projects](/projects)** here on my site
      or on [GitHub][github-repos].

      Probably the most successful project of mine is [Ohmu][ohmu], a tool for
      visualising space usage in your terminal.

      I’m working on my own programming language called
      [LemonCake](/lemon-cake).

      I like creating my own games, but I’ve failed at finishing anything of
      significance. Some examples are: [TorusCycle](/torus-cycle), [chess
      puzzles](/chess-puzzles), [1930][1930], and [Makawa][makawa].

      I’ve created Reddit bots for [correcting
      spelling](/reddit-spellchecking-bot), [generating word
      clouds](/reddit-wordcloud-bot), [summarizing long
      comments](/reddit-summarization-bot), and [detecting
      pairs][pair-detector].

      I publish my [dotfiles](/dotfiles).

      ## Hobbies

      I’m interested in [constructed scripts][conscripts]. I’ve created
      [Sidrem](/sidrem) and [Tinutok][tinutok].

      See what I consider the [best black metal
      albums](/best-black-metal-albums).

      See my Instagram account for [my origami creations][instagram].

      ## Contact

      My email address is `paul@nechifor.net`.

      [1930]: https://github.com/paul-nechifor/1930
      [conscripts]: http://www.omniglot.com/conscripts/english.htm
      [dotfiles]: https://github.com/paul-nechifor/dotfiles
      [github-repos]: https://github.com/paul-nechifor?tab=repositories
      [instagram]: https://www.instagram.com/paulnechifor/
      [makawa]: https://github.com/paul-nechifor/makawa
      [ohmu]: https://github.com/paul-nechifor/ohmu
      [pair-detector]: https://github.com/paul-nechifor/pair-detector
      [tinutok]: https://github.com/paul-nechifor/tinutok
      [torus-cycle]: https://github.com/paul-nechifor/torus-cycle

    .footer
      :markdown-it
        [View the Git source.](https://github.com/paul-nechifor/nechifor-home)

      small: :markdown-it
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)
